@font-face {
    font-family: "FetteUnzFraktur";
    src:
        local("FetteUnzFraktur"),
        url(../font/fette-unz-fraktur.ttf) format("truetype");
}

@font-face {
    font-family: "Cyberpunk";
    src:
        local("Cyberpunk"),
        url(../font/cyberpunk.ttf) format("truetype");
}

@property --translate-y {
    syntax: "<length> | <percentage>";
    inherits: false;
    initial-value: 0px;
}

@property --scale {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

#root {
    margin: 0 auto;
    padding: 0;
}

/*vendor select image stuff*/
@keyframes vendor-image-slide-in {
    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}
.vendor-image {
    opacity: 0;
    transform: translate3d(200px, 0px, 0px);
}

.vendor-image-select-slide-in {
    transition: opacity 0.3s linear 0.2s, transform 0.5s var(--animation-slide) 0.2s;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    /* animation: vendor-image-slide-in 1s var(--animation-slide) forwards 0.2s; */
}
/*vendor select image stuff end*/


@keyframes selected-animation {
    to {
        --translate-y: 0px;
    }
}
@keyframes left-1-animation {
    to {
        --scale: 1.25;
        --translate-y: -64px;
    }
}
@keyframes left-2-animation {
    to {
        --translate-y: -128px;
    }
}
@keyframes left-3-animation {
    to {
        --translate-y: -192px;
    }
}
@keyframes right-1-animation {
    to {
        --scale: 1.25;
        --translate-y: 64px;
    }
}
@keyframes right-2-animation {
    to {
        --translate-y: 128px;
    }
}
@keyframes right-3-animation {
    to {
        --translate-y: 192px;
    }
}

/* fix this */
.x-items {
     > div > div {
        opacity: 0;
    }
     > div > div.selected {
        opacity: 1;
    }
     > div > div.left-1 {
        opacity: 0.35;
    }
     > div > div.left-2 {
        opacity: 0.15;
    }
     > div > div.left-3 {
        opacity: 0.05;
    }
     > div > div.right-1 {
        opacity: 0.35;
    }
     > div > div.right-2 {
        opacity: 0.15;
    }
     > div > div.right-3 {
        opacity: 0.05;
    }
}

.selected {
    --translate-y: 0px;
    transition: opacity 0.4s ease-out;
    transform: scale(1.75) translate3d(0px, var(--translate-y), 0px);
    transform-origin: left;
    opacity: 1;
    &.r {
        --translate-y: 64px;
        animation: selected-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: -64px;
        animation: selected-animation 0.2s var(--animation-bounce) forwards;
    }
    /* &:has(+ .left-1) {
        opacity: 0.5;
        color: orange;
    }
    + .right-1 {
        opacity: 0.5;
        color: "green";
    } */
}

/* .loop {
    &.r {
        transform: translate3d(0px, 64px, 0px);
    }
    &.l {
        transform: translate3d(0px, -64px, 0px);
    }
} */

.left-1 {
    --scale: 1.25;
    --translate-y: -64px;
    transform: scale(var(--scale)) translate3d(0px, var(--translate-y), 0px);
    transform-origin: left;
    &.r {
        --scale: 1.75;
        --translate-y: 0px;
        animation: left-1-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --scale: 1;
        --translate-y: -128px;
        animation: left-1-animation 0.2s var(--animation-bounce) forwards;
    }
}

.left-2 {
    --translate-y: -128px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: -64px;
        animation: left-2-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: -192px;
        animation: left-2-animation 0.2s var(--animation-bounce) forwards;
    }
}

.left-3 {
    --translate-y: -192px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: -128px;
        animation: left-3-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: -256px;
        animation: left-3-animation 0.2s var(--animation-bounce) forwards;
    }
}

.right-1 {
    --scale: 1.25;
    --translate-y: 64px;
    transform: scale(var(--scale)) translate3d(0px, var(--translate-y), 0px);
    transform-origin: left;
    &.r {
        --scale: 1;
        --translate-y: 128px;
        animation: right-1-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --scale: 1.75;
        --translate-y: 0px;
        animation: right-1-animation 0.2s var(--animation-bounce) forwards;
    }
}

.right-2 {
    --translate-y: 128px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: 192px;
        animation: right-2-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: 64px;
        animation: right-2-animation 0.2s var(--animation-bounce) forwards;
    }
}

.right-3 {
    --translate-y: 192px;
    transform: translate3d(0px, var(--translate-y), 0px);
    &.r {
        --translate-y: 256px;
        animation: right-3-animation 0.2s var(--animation-bounce) forwards;
    }
    &.l {
        --translate-y: 128px;
        animation: right-3-animation 0.2s var(--animation-bounce) forwards;
    }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
