#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes slide-in {
  from {
    background-color: green;
  }

  to {
    background-color: transparent;
  }
}
.tesst { 
  animation: slide-in 5s forwards;
}

@keyframes down_prev_1 {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
to {
    transform: translate3d(0px, -100px, 0px);
  }
}

@keyframes down_prev_2 {
  from {
    transform: translate3d(0px, -100px, 0px);
  }
to {
    transform: translate3d(0px, -200px, 0px);
  }
}

@keyframes down_prev_3 {
  from {
    transform: translate3d(0px, -200px, 0px);
  }
to {
    transform: translate3d(0px, -300px, 0px);
  }
}

@keyframes up_prev_1 {
  from {
    transform: translate3d(0px, -200px, 0px);
  }
to {
    transform: translate3d(0px, -100px, 0px);
  }
}

@keyframes up_prev_2 {
  from {
    transform: translate3d(0px, -300px, 0px);
  }
to {
    transform: translate3d(0px, -200px, 0px);
  }
}

@keyframes up_prev_3 {
  from {
    transform: translate3d(0px, -400px, 0px);
  }
to {
    transform: translate3d(0px, -300px, 0px);
  }
}

@keyframes down_next_1 {
  from {
    transform: translate3d(0px, 200px, 0px);
  }
to {
    transform: translate3d(0px, 100px, 0px);
  }
}

@keyframes down_next_2 {
  from {
    transform: translate3d(0px, 300px, 0px);
  }
to {
    transform: translate3d(0px, 200px, 0px);
  }
}

@keyframes down_next_3 {
  from {
    transform: translate3d(0px, 400px, 0px);
  }
to {
    transform: translate3d(0px, 300px, 0px);
  }
}

@keyframes up_next_1 {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
to {
    transform: translate3d(0px, 100px, 0px);
  }
}

@keyframes up_next_2 {
  from {
    transform: translate3d(0px, 100px, 0px);
  }
to {
    transform: translate3d(0px, 200px, 0px);
  }
}

@keyframes up_next_3 {
  from {
    transform: translate3d(0px, 200px, 0px);
  }
to {
    transform: translate3d(0px, 300px, 0px);
  }
}

.down_prev_1 { 
  animation: down_prev_1 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.down_prev_2 { 
  animation: down_prev_2 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.down_prev_3 { 
  animation: down_prev_3 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.up_prev_1 { 
  animation: up_prev_1 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.up_prev_2 { 
  animation: up_prev_2 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.up_prev_3 { 
  animation: up_prev_3 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.up_next_1 { 
  animation: up_next_1 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.up_next_2 { 
  animation: up_next_2 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.up_next_3 { 
  animation: up_next_3 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.down_next_1 { 
  animation: down_next_1 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.down_next_2 { 
  animation: down_next_2 0.200s cubic-bezier(.14,.91,.41,1.32);
}

.down_next_3 { 
  animation: down_next_3 0.200s cubic-bezier(.14,.91,.41,1.32);
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
